<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="layouts practice" />
    <meta name="keywords" content="layout, flex,float" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Layouts</title>
  </head>
  <body>
    <nav>
      <img src="#" alt="techCrunchLogo" />
      <a href="#">Login</a>
      <ul>
        <li><a href="#">search</a></li>
        <li><a href="#">startups</a></li>
        <li><a href="#">videos</a></li>
        <li><a href="#">search</a></li>
        <li><a href="#">startups</a></li>
        <li><a href="#">videos</a></li>
      </ul>
    </nav>

    <main>
      <h1>What China's Fintech Market can teach the world</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat
        cupiditate ipsum molestiae ad veritatis! Aperiam, veniam, cum et
        architecto ex nemo similique repellendus odio, maxime veritatis animi
        nulla consequatur adipisci?
      </p>
      <span>Prince Jason</span>
    </main>
    <aside>
      <ul>
        <li>
          <h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi earum
            provident illo cum! Debitis fuga accusantium aliquid deleniti
            cupiditate molestias repudiandae, maxime repellendus odio laboriosam
            perspiciatis delectus. Nobis, maxime excepturi?
          </h2>
          <span>Prince</span>
        </li>
        <li>
            <h2>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi earum
              provident illo cum! Debitis fuga accusantium aliquid deleniti
              cupiditate molestias repudiandae, maxime repellendus odio laboriosam
              perspiciatis delectus. Nobis, maxime excepturi?
            </h2>
            <span>PrinceJason</span>
          </li>
          <li>
            <h2>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi earum
              provident illo cum! Debitis fuga accusantium aliquid deleniti
              cupiditate molestias repudiandae, maxime repellendus odio laboriosam
              perspiciatis delectus. Nobis, maxime excepturi?
            </h2>
            <span>Jason</span>
          </li>
      </ul>
    </aside>
    <script src="script.js"></script>
  </body>
</html>
