<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="layouts practice" />
    <meta name="keywords" content="layout, flex,float" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="khan.css" />
    <title>Document</title>
  </head>
  <body>
    <header id="top">
      <nav id="links">
        <a href="#">Courses</a>
        <form action="#">
          <label for="search">search</label>
          <input type="text" />
        </form>
        <h2>Khan Academy</h2>
        <ul>
          <li><a href="">Donate</a></li>
          <li><a href="">Login</a></li>
          <li><a href="">Signup</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <img src="kids.png" alt="kids_playing_computer" />
      </section>
      <section>
        <h1>For every student, every classroom real results</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, est
          asperiores tenetur, architecto dignissimos, consequatur hic nisi
          atque.
        </p>
        <button><a href="#">Learners</a></button>
        <button><a href="#">Students</a></button>
        <button><a href="#">Teachers</a></button>
        <button><a href="#">Coaches</a></button>
      </section>
    </main>
  </body>
</html>
